# Compiled class file
*.class

# Log file
*.log

# Shamelessly stolen from github
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
